@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(-45deg, #e67958, #CCCCFF, #31c6fc, #23d523);
	background-size: 400% 100%;
	animation: gradient 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
